/*
 * SPDX-FileCopyrightText: 2025 PNED G.I.E.
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #377a80;
  --ifm-color-primary-dark: #326e73;
  --ifm-color-primary-darker: #2f686d;
  --ifm-color-primary-darkest: #27555a;
  --ifm-color-primary-light: #3d868d;
  --ifm-color-primary-lighter: #3f8c93;
  --ifm-color-primary-lightest: #489fa6;
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme="dark"] {
  --ifm-color-primary: #00b9b3;
  --ifm-color-primary-dark: #00a7a1;
  --ifm-color-primary-darker: #009d98;
  --ifm-color-primary-darkest: #00827d;
  --ifm-color-primary-light: #00cbc5;
  --ifm-color-primary-lighter: #00d5ce;
  --ifm-color-primary-lightest: #00f1e9;
}
